{% extends "base.html" %}
{% block content %}

<div>
  <form method="post" action="{{ dream.get_absolute_url }}">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save" />
  </form>
</div>

<div>
  <h2>Plans:</h2>
  <a href="{{ dream.get_create_plan_url }}"><button >Create Plan</button></a>
  <ul>
    {% for plan in dream.plans.actual_list %}
      <li>
        <h3><a href="{{ plan.get_absolute_url }}">{{ plan.title }}</a> tasks:</h3>
        <ul>
          {% for task in plan.tasks.parents_list %}
            <li>
              {% if task.is_done %}
                <input type="checkbox" disabled="disabled" checked>
              {% else %}
                <input type="checkbox" disabled="disabled">
              {% endif %}
              <a href="{{ task.get_absolute_url }}">{{ task.title }}</a>
              {% if task.child_tasks.actual_list.exists %}
                <ul>
                  {% for child_task in task.child_tasks.actual_list %}
                    <li>
                      {% if child_task.is_done %}
                        <input type="checkbox" disabled="disabled" checked>
                      {% else %}
                        <input type="checkbox" disabled="disabled">
                      {% endif %}
                      <a href="{{ child_task.get_absolute_url }}">{{ child_task.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
</div>

<div>
  <h2>Ideas:</h2>
  <a href="{% url "idea:new" %}"><button >Create Idea</button></a>
  <ul>
    {% for idea in dream.ideas.actual_list %}
      <li>
        <a href="{{ idea.get_absolute_url }}">{{ idea.title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock content %}
