<html>
  <head>
  </head>
  <body bgcolor="#C5D9E6">
    <h4>
      <a href="/">Dream</a>
      {% if dream %}
        : <a href="{{ dream.get_absolute_url }}">{{ dream.title }}</a>
      {% endif %}
      {% if plan %}
        / plan: <a href="{{ plan.get_absolute_url }}">{{ plan.title }}</a>
      {% endif %}
      {% if task %}
        {% if not plan and not task.is_purchase %}
          <a href="{% url "task:to_do_list" %}">/ tasks / </a>
        {% elif not plan and task.is_purchase %}
          <a href="{% url "task:purchase_list" %}">/ purchases / </a>
        {% else %}
          / task:
        {% endif %}
        <a href="{{ task.get_absolute_url }}">{{ task.title }}</a>
      {% endif %}
      {% if idea %}
        / idea: <a href="{{ idea.get_absolute_url }}">{{ idea.title }}</a>
      {% endif %}
    </h4>
    {% block content %}
    {% endblock content %}
  </body>
</html>
